    body {
        font-family: 'Poppins', sans-serif;
        height: auto;
        margin: auto;
    }
    
    h1 {
        font-size: 50px;
    }
    
    .spa {
        color: #e9a908;
    }
    
    section {
        display: flex;
    }
    
    .leftSideImg {
        width: 50%;
        padding: 5%;
    }
    
    img {
        width: 100%;
    }
    
    .link-button {
        background-image: linear-gradient(orange, tomato);
        color: #0a0909;
        font-weight: bolder;
        padding: 10px 40px;
        text-decoration: none;
        border-radius: 20px;
    }
    
    .link-button2 {
        background-image: linear-gradient(orange, tomato);
        color: #0a0909;
        font-weight: bolder;
        padding: 10px 40px;
        text-decoration: none;
        border-radius: 20px;
    }
    
    .top-banner {
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
    }
    
    .top-banner2 {
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }